body {
    background-color: #E9EBEE;
}

.container {
    display: grid;
    row-gap: 10px;
    text-align: center;
    margin: auto;
}

header {
    grid-column: 1/3;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    background-color: #FCFCFC;
    padding: 0 40px;
    -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
    -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
    box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

.navbar .leftSide {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
}

.navbar .rightSide {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
}

.logo {
    display: grid;
    justify-content: start;
    align-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    text-transform: uppercase;
}

.mainMenu {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1.5em;
    font-family: "Open Sans", sans-serif;
}

.mainMenu button {
    border: 0;
    background-color: #FCFCFC;
    font-size: 1em;
}

.mainMenu button:hover {
    color: orange;
    cursor: pointer;
}

.mainMenu a:hover {
    color: orange;
    cursor: pointer;
}

@media (max-width: 780px) {
    header {
        grid-column: 1/3;
        position: static;
    }

    .navbar {
        flex-direction: column;
        padding-top: 20px;
    }

    .mainMenu {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

}

/* =======================
******* Booking ******
========================*/

.booking {
    display: grid;
    grid-column: 1/3;
    text-align: center;
    background-color: #1f1d2b;
    margin-bottom: 20px;
}

.bookingDescription {
    color: white;
    font-size: 1.2em;
    line-height: 2em;
}

.price {
    grid-column: 1/3;
    background-color: black;
    color: yellow;
    border-radius: 0.5em;
    margin: auto;
    padding: 0.2em;
}

/* =======================
******* Slider ******
========================*/

.roomsDescription {
    grid-column: 1/3;
    font-size: 1.5em;
    align-self: center;
    padding: 5px;
    color: violet;
}

.swiper {
    grid-column: 1/3;
    width: 100%;
    height: 100%;

}


@media (max-width: 560px) {

    .swiper-button-prev,
    .swiper-button-next {
        opacity: 0;
        cursor: auto;
        pointer-events: none;
    }
}

#rewievs {
    width: 90%;
    color: blue;
}

/* =======================
******* Calendar ******
========================*/

.calendarWrapper {
    grid-column: 1/3;
}

.calendar {
    display: grid;
    background-color: #febb02;
    color: blue;
    border: solid 2px blue;
    border-radius: 10px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    text-align: center;
    margin: auto;
}

.item {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-self: center;
    color: darkslategrey;
}

.button {
    display: grid;
    grid-column: 1/3;
    justify-self: center;
    background-color: #0071c2;
    color: #D4BAFF;
    margin-bottom: 1em;
    font-size: 1.2em;
    transition-duration: 1s;

}

.button:hover {
    color: white;
    top: 20px;
    box-shadow: 5px 5px 0 #3c354a;
    cursor: pointer;
}

@media (min-width: 780px) {
    .calendar {
        width: 50%;
    }
}

.out,
.out_2,
.out_3 {
    color: #000000;
}

/* Делаем активный весь input[date], отклик не только по иконке */
.start_date,
.end_date {
    position: relative;
    display: inline-block;
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}

/* ______________________________________________________________ */
.footer {
    grid-column: 1/3;
    color: orange;
    background-color: #383838;
    border-radius: 5px;
}

.phone a {
    color: rgb(198, 192, 204);
    text-decoration: none;
}

.socialNet {
    width: 1.5em;
    padding: 0 10px;
}

.mapsDescription {
    grid-column: 1/3;
    font-size: 1.5em;
    margin-top: 2em;
}

.maps {
    display: flex;
    grid-column: 1/3;
    justify-content: center;
    background-color: blue;
    padding: 20px 0;
    margin-bottom: 2em;
    font-size: 1.2em;

}

.maps .socialNet {
    /* display: flex; */
    color: #febb02;

}